<div class="flyntComponent" is="flynt-list-search-results">
  <div class="container">
    <div class="boxed">{% include 'Partials/_header.twig' %}</div>
    <div class="boxed">{% include 'Partials/_results.twig' %}</div>
    {# {% if pagination %}
      {% include 'Partials/_pagination.twig' %}
    {% endif %} #}
  </div>
</div>
