.menu {
  @include reset-list;
  align-items: center;
  backface-visibility: hidden;
  background-color: $blue;
  display: flex;
  flex-flow: row wrap;
  height: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  overflow-y: scroll;
  padding-bottom: $spacing-large;
  padding-top: $spacing-large*3;
  position: fixed;
  top: -100%;
  transform: translateY(0);
  transition: opacity 0.25s;
  width: 100%;
  z-index: -1;

  @media (max-width: $breakpoint-mobile) {
    align-items: flex-start;
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  .admin-bar & {
    top: $nav-height + 46px;

    @media (min-width: 783px) {
      top: $nav-height-mobile + 32px;
    }
  }

  &-item--current {
    .menu-link {
      color: $yellow;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }

  &-item {
    text-align: left;
    width: 33%;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }

    &.login {
      padding: $spacing-small/2 $spacing-small;
      text-align: left;

      .menu-link {
        appearance: none;
        background-color: $yellow;
        border: 1px solid $blue;
        border-radius: 0;
        color: $blue;
        display: inline-block;
        font-family: inherit;
        font-size: 1rem;
        line-height: inherit;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.25s ease-in-out;

        @media (max-width: $breakpoint-tablet) {
          width: 100%;
        }

        @media (max-width: $breakpoint-mobile) {
          width: 50%;
        }
      }
    }
  }

  &-link {
    color: $yellow;
    display: block;
    margin: 0;
    padding: $spacing-small/2 $spacing-small;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease-out;

    @media (max-width: $breakpoint-mobile) {
      text-align: left;
    }

    &:hover,
    &:focus {
      color: $yellow;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    @media (min-width: $breakpoint-tablet) {
      padding-left: $spacing-large;
      padding-right: $spacing-large;
    }
  }

  &-submenu {
    @include reset-list;
    display: none;

    .menu-link {
      padding-left: $spacing-large*2;
    }
  }
}

&.flyntComponent-menuIsOpen .menu {
  height: fit-content;
  opacity: 1;
  top: 0;
  transform: translateY(0);

  @media (max-width: $breakpoint-mobile) {
    height: 100%;
  }
}
