[is='flynt-grid-posts-contributors-latest'] {
  .preContent {
    margin-bottom: $spacing-small;
    padding: $spacing-small 0;
    text-align: left;
    width: 100%;

    @media (max-width: $breakpoint-mobile) {
      padding: $spacing-small 0;
      width: 100%;
    }
  }
  
  .grid {
    @include reset-list;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .grid-item--contributions {
    margin-bottom: $spacing-small;
    width: 100%;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }

    &:nth-child(even) {
      .content-inner {
        align-items: flex-end;

        @media (max-width: $breakpoint-mobile) {
          align-items: center;
        }
      }
      
      .content-link {
        align-items: center;
        display: flex;
        flex-flow: row-reverse wrap;
        flex-grow: 1;
        text-decoration: none;
  
        @media (max-width: $breakpoint-mobile) {
          flex-flow: row wrap;
        }

        .intro {
          text-align: right;

          @media (max-width: $breakpoint-mobile) {
            text-align: left;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-flow: column;

      &-title {
        display: none;
      }
  
      &-image {
        flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
        padding: $spacing-small;
        position: relative;
        width: 25%;

        @media (max-width: $breakpoint-tablet) {
          width: 40%;
        }

        @media (max-width: $breakpoint-mobile) {
          width: 100%;
        }

        img {
          aspect-ratio: 1/1;
          border-radius: 50%;
          box-shadow: 10px 12px 20px -6px $black;
          object-fit: cover;
        }
      }
  
      &-inner {
        @include reset-content-margins;
        align-items: flex-start;
        column-gap: 0;
        display: flex;
        flex-flow: column wrap;
        height: 100%;
        justify-content: center;
        padding: $spacing-small;
        // position: absolute;
        width: 60%;
        z-index: 1;
  
        @media (max-width: $breakpoint-mobile) {
          width: 100%;
        }
  
        p {
          margin: 0;
        }
  
        .date {
          border: 1px solid $blue;
          margin-bottom: $spacing-small/2;
          padding: $spacing-small/2 $spacing-small;
        }

        .title {
          border: 1px solid $blue;
          padding: $spacing-small/2 $spacing-small;
          text-align: center;
        }

        .intro {
          text-align: left;
        }
      }
  
      &-link {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        flex-grow: 1;
        justify-content: center;
        text-decoration: none;
  
        @media (max-width: $breakpoint-mobile) {
          flex-flow: row wrap;
        }

        &:hover,
        &:focus {
          .date,
          .title {
            background-color: $blue;
            color: $yellow;
          }
        }
      }
  
      &-footer {
        align-items: center;
        align-self: flex-end;
        border-top: 1px solid $color-border;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
  
        .content-readMore {
          padding: 0.9rem 0 1.1rem;
  
          &::before {
            bottom: 1.1rem;
          }
        }
  
        @media (min-width: $breakpoint-tablet) {
          padding: 0 30px;
        }
      }
    }
  }

  .allPostsLink {
    padding-top: 1.5rem;
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      padding-top: 3rem;
    }
  }
}
